#hi{
       font-family: "Fira Code", sans-serif;
       color: blue;
       text-align: center;
       font-size: 100px;
}
p{
       font-family: "Fira Code", sans-serif;
       text-align: center;
       font-size: 60px;

}
body{
       background-image: url(https://th.bing.com/th/id/OIP.eS2Ax8MaHwtKW_78smJgwwHaEo?pid=ImgDet&rs=1);
       background-repeat: no-repeat;
       background-attachment: fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
}
