body {
  font-family: 'Lato', 'Arial', sans-serif;
}

p {
  font-size: 1.3em;
}

.jumbotron {
  text-align: center;
}


.nav ,.nav-link, .nav-link-active{
	font-family: "Courgette";
	font-size: 20px;
}


