.container{
	display: flex;
	flex-wrap: wrap;
}

.thumbnail{
	padding: 5%;
	text-decoration: none;
	color: black;
}

body{
	position: no-repeat fixed;
	background-image: url("https://images.pexels.com/photos/408503/pexels-photo-408503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	font-family: 'Srisakdi', cursive;
	background-size: cover;
	}

h1	{
	font-size: 80px;
	background-color: rgba(153, 153, 153,40%);
	padding: 10px;
	}

h2{
	position: relative;
	font-size: 40px;
	background-color: rgba(153, 153, 153,40%);
	height: 120px;
	width: 700px;
	text-align: center;
	alignment-baseline: central;
	
	}