body{
    margin: auto 0;
   font-family: 'Srisakdi', cursive;
}


.zone {
    display:inline-block;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,1.5) 0px 10px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,1.5) 0px 10px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,1.5) 0px 10px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,1.5) 0px 10px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


/*..NAV..*/
.main-nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size:1em; 
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 7px;
    
    }


@media only screen and (max-width: 500px){
    .main-nav{
        font-size:15px;
        padding: 5px;
    }

}



.sticky{
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1;
}


a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    }
 a:hover{
     color: grey;
     text-decoration: none;
 }

/*...CAROUSEL...*/

.container{
    position: ;
    margin-top: 50px;
    max-width: 100%;
    display: block;
}

/*...COVER...*/
.about{
   margin-top: 0px;
   background-color: #1C1C1C;
   padding: 80px;
   
}

.about > p {
    color: white;
    text-align: center;
}

.title{
    font-size: 1.5em
}


/*...IMAGES...*/
.grid-wrapper{
    margin-top:10px;
    display: grid;
    grid-gap:100px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 300px));
    justify-content: space-around;
    background-color: #1E1E1E;
    padding: 30px;
}


.box{
    background-color:#1C1C1C;
    padding:0px;
    margin: 50px;
    cursor: pointer;
    border: 0px ;
}
    
.box > img{
    max-width: 100%;
    border-radius: 7px;
}

@media only screen and (max-width: 700px){
    .box > img{
        width: 100%;
    }
}

.box > p {
   color: #FFFFFF;
   font-family: verdana;
   text-align: center;


}

.box > a{
    color: white;
}


.box > form{
    text-align: center;
    opacity: 0.7;
}

.box: hover{
    opacity: 1.5;
}

/*...FORM...*/
.log{
   margin-top: 10px;
    padding: 10px;
    background-color: black;
    text-align: center;
}

.log > p{
    color: white;
    font-size:1.5em;
    font-family: 'Poiret One', cursive;
}

.log > form{
    color: white;
    font-family: 'Poiret One', cursive;

}

input[type="text"]{
    border-radius: 7px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border: 0px;
}

input[type="submit"]{
   background-color: transparent;
   color: #9C9C9C;
    border-radius: 6px;
    cursor:pointer;
    border: 0.7px solid;
    font-size: 1.2em;
    font-family: 'Poiret One', cursive;
}

input[type="submit"]:hover{
    color:#9C9C9C;
    background-color: transparent;
    transition: 0.5s;
}

/*...GIF...*/
.final{
    margin-top: 10px;
}

.final > img{
    width: 100%
}

/*...FOOTER...*/

footer{
    margin-top: 5px;
    text-align: center;
    font-size: 1em !important;
    color: white;
    font-family: verdana;
    background-color: #1E1E1E

}

