@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.header{
    background-image: url('https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=375f08acd511ccc0cc6ca5db9979c7b1&auto=format&fit=crop&w=1350&q=80');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.headertext{
    font-family: 'Abril Fatface', cursive;
    font-size: 6em;
}
.nav {
    background-color: rgba(0, 0, 0, 0.705);
    position: relative;
    bottom: -35px;
}