@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.header{
    background-image: url('https://www.imore.com/sites/imore.com/files/styles/xlarge/public/field/image/2017/02/airplane-flight-sunset.jpg?itok=8iUtkHU-');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.headertext{
	background: linear-gradient(to right bottom, rgb(61, 39, 73), rgb(237, 237, 197));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: 'Abril Fatface', cursive;
    font-size: 6em;
    border-bottom: 1px dotted rgb(61, 39, 73);
}