@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.region-details {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 2em;
  color: white;
}

.h2black {
  color: white;
}

.region-card {
  height: 400px;
  list-style: none;
}

.region-card h3 {
  cursor: pointer;
}

.regiontext {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.detailCard {
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  grid-row-gap: 2rem;
  grid-column-gap: 3.5rem;
  padding: 0;
  margin: 1.1em;
}

.regionFlagContainer {
  width: calc(100% - 2rem);
}

.detailsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}
