@import url('https://fonts.googleapis.com/css?family=Pacifico');

.region {
    /* width: 300px; */
}

.region-card {
    width: 400px;
    height: 400px;
    list-style: none;
    vertical-align: top;
}

.region-card h3 {
    cursor: pointer;
}

.regiontext{
    font-family: 'Pacifico', cursive;
    font-size: 1rem;

}
.list{
    text-align: center;
   /* margin: 10%;
    font-size: 1.2rem;*/
}
