.searchContainer {
    background: rgba(244,103,50,1)
}

.searchBox {
    text-align: center;
    padding: 30px 0 0 0;
}

.search {
    text-align: center;
    padding: 15px;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.705);
    border: 1px solid rgba(255, 255, 255, 0.829);
    font-size: large;
    text-transform: capitalize;
    color: #fff;
    transition: all .3s;
}

.search::placeholder {
    transition: all .3s;
}

.search:focus::placeholder {
    opacity: 0;
}