body {
  background-image: url(https://wallpapershome.com/images/pages/pic_h/17796.jpg);
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 300px;
}

.card {
  margin: auto;
  text-align: center;
}

.Hawaii {
  background-image: url(https://wallpapershome.com/images/pages/pic_h/16699.jpg);
}

.Mexico {
  background-image: url(https://wallpapershome.com/images/pages/pic_h/6472.jpg);
}

.Norway {
  background-image: url(https://wallpapershome.com/images/pages/pic_h/5304.jpg);
}
