.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.centerFlex {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background: -moz-linear-gradient(top, rgb(69, 178, 230) 0%,rgb(8, 7, 6) 50%, rgb(226, 74, 186) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(69, 178, 230) 0%,rgb(8, 7, 6) 50%, rgb(226, 74, 186) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(69, 178, 230) 0%,rgb(8, 7, 6) 50%, rgb(226, 74, 186) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f46732', endColorstr='#66fcb46f',GradientType=0 ); /* IE6-9 */
}

.region-card {
  padding-top: 15px;
}

.region {
  padding-top: 15px;
}