.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(54, 54, 54);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.centerFlex {
  padding: 20px 0;
  background: -moz-linear-gradient(
    top,
    rgb(8, 7, 6) 0%,
    rgb(8, 7, 6) 50%,
    rgba(0, 0, 0, 0.233) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgb(8, 7, 6) 0%,
    rgba(8, 7, 6, 0.247) 50%,
    rgb(0, 0, 0.233) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
      to right bottom,
      rgba(2, 2, 2, 0.3),
      rgba(0, 0, 0, 0.856)
    ),
    url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-origin: content-box;
  background-attachment: fixed;
  background-position: center;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f46732', endColorstr='#66fcb46f', GradientType=0);
  /* IE6-9 */
}

.region-card {
  padding-top: 15px;
}

.region {
  padding-top: 15px;
}

.searchBox.mt1{
  color: azure;
}
.contributors {
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
  word-wrap: break-word;
  transition: all ease-out 0.25s;
}
.margin_left {
  margin-left: 15px;
  margin-right: 15px;
}
.card{
  padding: 0;
  min-height: 80px;
  position: relative;
  transition: all ease-in-out 0.35s;
  box-shadow: teal -10px -10px;
}
.card:hover{
  box-shadow: green -10px -10px;
}

.card:hover .contributors{
  text-decoration: underline;
  color: green;
}
.listContributors {
  position: absolute;
  width: 200px !important;
  height: 100% !important;

  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.listContributors img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
