.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.centerFlex {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f46732+0,fcb46f+100&1+12,0.4+100 */
  background: -moz-linear-gradient(top, rgba(244,103,50,1) 0%, rgba(245,112,57,1) 12%, rgba(252,180,111,0.4) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(244,103,50,1) 0%,rgba(245,112,57,1) 12%,rgba(252,180,111,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(244,103,50,1) 0%,rgba(245,112,57,1) 12%,rgba(252,180,111,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f46732', endColorstr='#66fcb46f',GradientType=0 ); /* IE6-9 */
}

.region-card {
  padding-top: 15px;
}

.region {
  min-width: 50%;
  padding-top: 15px;
}